{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="{% static "gmail2sfdc/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "gmail2sfdc/css/style.css" %}" rel="stylesheet">

        <script src="{% static "gmail2sfdc/js/jquery-2.1.0.min.js" %}"></script>
        <script src="{% static "gmail2sfdc/js/script.js" %}"></script>

        <title>{% block title %}Gmail2Sfdc{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
    <body>
    <a href="https://github.com/vishesh04/gmail2sfdc" target="_blank">
        <img src="{% static "gmail2sfdc/i/github.png" %}" class="pull-right github">
    </a>
    <div class="container">
        <div id="header" class="row">

            <img src="{% static "gmail2sfdc/i/logo.png" %}" height="48">
            <span class="logo">Gmail2Sfdc</span>

            {% if request.session.user_id %}
                <a href="/auth/logout" class="btn btn-primary pull-right">Logout</a>
            {% else %}
                <a href="/auth/google-login" class="btn btn-primary pull-right">Login with Google</a>
            {% endif %}
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    </body>
</html>